################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BowlingGameKata/.vs/BowlingGameKata
